concurrent = 3

[[runners]]
  name = "gitlab-runners-0"
  url = "https://git.example.com"
  token = "<REPLACE_WITH_YOUR_GITLAB_RUNNER_REGISTRATION_TOKEN>"
  limit = 0
  executor = "docker"
  builds_dir = ""
  [runners.docker]
    host = ""
    image = "docker:24.0.6-dind-alpine3.18"
    privileged = false
    disable_cache = false
    cache_dir = "/cache"
    volumes = ["/var/run/docker.sock:/var/run/docker.sock", "/cache"]
  [runners.cache]
    Type = "s3"
    Path = "gitlab_runner_cache/"
    Shared = true
    [runners.cache.s3]
      ServerAddress = "s3.amazonaws.com"
      AccessKey = "<AWS_S3_ACCESS_KEY>"
      SecretKey = "<AWS_S3_SECRET_KEY>"
      BucketName = "git-idstar-group"
      BucketLocation = "ap-southeast-1"
      Insecure = false

[[runners]]
  name = "gitlab-runners-1"
  url = "https://git.example.com"
  token = "<REPLACE_WITH_YOUR_GITLAB_RUNNER_REGISTRATION_TOKEN>"
  limit = 0
  executor = "docker"
  builds_dir = ""
  [runners.docker]
    host = ""
    image = "docker:24.0.6-dind-alpine3.18"
    privileged = false
    disable_cache = false
    cache_dir = "/cache"
    volumes = ["/var/run/docker.sock:/var/run/docker.sock", "/cache"]
  [runners.cache]
    Type = "s3"
    Path = "gitlab_runner_cache/"
    Shared = true
    [runners.cache.s3]
      ServerAddress = "s3.amazonaws.com"
      AccessKey = "<AWS_S3_ACCESS_KEY>"
      SecretKey = "<AWS_S3_SECRET_KEY>"
      BucketName = "git-idstar-group"
      BucketLocation = "ap-southeast-1"
      Insecure = false


[[runners]]
  name = "gitlab-runners-3"
  url = "https://git.example.com"
  token = "<REPLACE_WITH_YOUR_GITLAB_RUNNER_REGISTRATION_TOKEN>"
  limit = 0
  executor = "docker"
  builds_dir = ""
  [runners.docker]
    host = ""
    image = "docker:24.0.6-dind-alpine3.18"
    privileged = false
    disable_cache = false
    cache_dir = "/cache"
    volumes = ["/var/run/docker.sock:/var/run/docker.sock", "/cache"]
  [runners.cache]
    Type = "s3"
    Path = "gitlab_runner_cache/"
    Shared = true
    [runners.cache.s3]
      ServerAddress = "s3.amazonaws.com"
      AccessKey = "<AWS_S3_ACCESS_KEY>"
      SecretKey = "<AWS_S3_SECRET_KEY>"
      BucketName = "git-idstar-group"
      BucketLocation = "ap-southeast-1"
      Insecure = false


# More information
## https://docs.gitlab.com/runner/
## https://docs.gitlab.com/runner/configuration/

# Complete configuration settings example
## https://github.com/veertuinc/gitlab-runner/blob/master/config.toml.example
